<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Emotions - MoodBlocks</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/about-styles.css">
  </head>

  <body>
    <div class="container-fluid">
        <h1>MoodBlocks</h1>
        <div class="rows">
          <h3>
            For the final project, we were asked to create a website that utilizes not only an interactive library that we have used throughout the semester, but also apply the back-end server side (along with the use of database). And, for this project, I wanted to create a data visualization of people's emotions, either happy or sad, using a Three.js library. Moreover, I wanted to create a project where I can establish a connection between mobile devices and desktop. So, I set up the data-input of the emotions accessible only via mobile device and used the desktop interface to display the given data.
          </h3>

          <h3>
            For the most part, using three.js was one of the biggest struggles that I had. Since it was different from how p5 works, I had to figure out how I can continuously visualize the three dimensional shapes in the way I wanted to. I had to fully understand the concept of the mechnisms of the scene as well as the camera view in order to set a point of view that I had in mind. Also, I had to change some of the inner codes of the shaders to create a effect that I wanted - which made me spent more than 8 hours to retrieve the LED effect of the data-page screen. And, for this project, I tried to apply bootstrap to see how the CSS changes.
          </h3>

          <h3>
            Despite the difficulty of handling with three.js, I realized the strong potential of this library. Even though I only utilized some parts of three.js library, I was able to learn various functions of it as well as its general mechanisms. I realized these days, most of the winning websites put huge reliance on three.js. Now I can understand why people see that three.js is not only fun to play with, but also can have an immense effect to the viewers.
          </h3>

          <h3>
            Some people had a hard time having to wait several seconds between the transitions of the information that I provieded to create a certain sentiment. Normally, each of the divs had three seconds delay to give them some time to read, but after receiving feedbacks, I shortened it down to two seconds. There seems to be not much of a difference between two to three seconds, but I saw a general flow that seemed to be much smoother with the changed delay duration.
          </h3>

          <h3>
            The final project was a huge leap in my experience with web programming. I was able to grasp how the server-side work as well as the 3-Dimensional interactive library. I was, again, more than impressed to see all the possible projects that I can do with three.js. And, now I can start to get more in-depth with manipulating server-side elements. Now I feel confident using node.js with express, bootstrap, and most of the interactive libraries that we dealt with in class.
          </h3>

          <h3 class="text-right">
            Yung Ju Rick Kim. Class of 2019
          </h3>

          <h3 class="text-right">
            Interactive Media - Mashups
          </h3>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/build/bootstrap.min.js"></script>
  </body>
</html>