<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Emotions - MoodBlocks</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>

  <body>
    <audio id='audio-file-index'>
      <source src="bg2.mp3" type="audio/mpeg">
    </audio>

    <div class="container-fluid">

      <div class="about" id="about-id">
        <h3>About</h3>
      </div>

      <div class="row" id="header">
        <h1 class="text-center" id="title"><span class="header-start">e</span>MOTION<span class="header-ending">s</span></h1>
        <h3 class="text-center" id="myName">- YUNG JU RICK KIM -</h3>
        <h3 class="text-center" id="info">Displaying emotions with Three.JS</h3>
      </div>

      <div class="row" id="header2">
          <button type="button" class="btn btn-default" id="proceed-button">PROCEED</button>
          <h2 class="text-center" id="url-text">emotionsmoodblocks.herokuapp.com</h2>
          <h2 class="text-center">ACCESS THE URL WITH YOUR MOBILE DEVICE</h2>
          <h2 class="text-center">TO INPUT YOUR EMOTION TO THE WORK</h2>
      </div>

      <img src="mobile-device.png" class="device-img"/>
    </div>
    <script>
      var page = '<%=page%>';

      // For Exhibition
      // setInterval('window.location.reload()', 40000);
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/build/three.js"></script>
    <script src="js/build/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/scripts-3d.js"></script>
  </body>
</html>
