<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Emotions - MoodBlocks</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/mobile-styles.css">
  </head>

  <body>
    
    <div class="container-fluid">
      <div class="row" id="header">
        <h1 class="text-center" id="title"><span class="header-start">e</span>MOTION<span class="header-ending">s</span></h1>
        <h3 class="text-center" id="myName">- YUNG JU RICK KIM -</h3>
        <h3 class="text-center" id="info">Displaying emotions with Three.JS</h3>
      </div>

      <div class="row" id="header2">
        <button type="button" class="btn btn-default" id="happy-button">HAPPY</button>
        <h2 class="text-center">What Emotions are you feeling Right Now?</h2>
        <button type="button" class="btn btn-default" id="sad-button">SAD</button>
      </div>

      <div class="row" id="header3">
        <h2 class="text-center">Thank you!</h2>
        <h2 class="text-center">Your Emotion has been recorded.</h2>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/build/bootstrap.min.js"></script>
    <script src="js/mobile-scripts.js"></script>
  </body>
</html>